// --------------------------------------------------------------------------
// Layout: Content Area
// --------------------------------------------------------------------------

// Sectionals
// --------------------------------------------------

aside { // Only for callouts
    padding: $base-cushion;
    text-align: center;
}

.primary-content {
    @include box-shadow;
    background: white;
    display: block;
    padding: $base-cushion;
    position: relative;
    width: 100%;
    z-index: 100;
}

.secondary-content {
    background: $lightGray;
}