// --------------------------------------------------------------------------
// Layout: Content Area
// --------------------------------------------------------------------------

// Sectionals
// --------------------------------------------------

aside { // Only for callouts
    padding: 60px 30px 80px 30px;
    text-align: center;

    h1, h2 {
        margin-top: 0;
    }

    p { font-weight: 300; }

    .btn {
        margin-top: 30px;
    }
}

.primary-content {
    @include box-shadow;
    background: white;
    display: block;
    padding: $base-cushion;
    position: relative;
    width: 100%;
    z-index: 100;
}

.secondary-content {
    background: white;
}