// --------------------------------------------------------------------------
// Header (No header on Home Page)
// --------------------------------------------------------------------------

header {
    @include primary-gradient;
    font-family: $displayFontFamily;
    padding: 10px 15px;
    text-align: center;

    a,
    a:hover {
        color: $primaryColor;
        text-decoration: none;
    }

    [class^="icon-"],
    [class*=" icon-"] {
        color: white;
        font-size: 30px;
        margin: 0 7px;
        vertical-align: -7px;
    }
}