// --------------------------------------------------------------------------
// Main Layout
// --------------------------------------------------------------------------

html {
    height: 100%;
}
body {
    @include font-size($base-font-size);
    @extend %font-loading;
    color: white;
    display: block;
    font-family: $baseFontFamily;
    font-weight: 400;
    height: 100%;
    margin: 0;
    width: 100%;

    &:after {
        @include secondary-gradient;
        content: "";
        display: block;
        height: 5px;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 999;
    }
}

// Selection Colors
// --------------------------------------------------

::selection { background: $primaryColor; } // Webkit
::-moz-selection { background: $primaryColor; } // Mozilla


// Max-Width Wrapper
// --------------------------------------------------

.wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;

    // Large Screen
    // -------------------------
    @media only screen and (min-width: $l-screen) {
        padding: 0;
    }
}