<div class="search-container">
  <p>Gender Infinity provides this resource information for the benefit of the community. This list does not constitute an endorsement or recommendation by Gender Infinity.</p>
  <%= render 'form' %>
</div>
