<!-- Callout -->
<aside>
    <div class="wrapper">
        <h2>Know of any trans-friendly places?</h2>
        <p>Gender Infinity is a transgender-supportive community that brings together helpful resources and makes our world a better, safer place.<br /> Help by submitting to our database locations that serve your needs.</p>
        <a class="btn" href="<%= new_location_path %>">Submit a Location</a>
    </div>
</aside>
