// --------------------------------------------------------------------------
// Pages: Intro (Modifiers)
// --------------------------------------------------------------------------

#intro {
    animation: smooth-fade-in 1s;
    padding-top: $top-cushion;

    // Wrapper
    // --------------------------------------------------
    &.wrapper {
        max-width: 800px;
    }

    // Text
    // --------------------------------------------------
    h1, h2, p { text-align: center; }

    h1, p { margin-top: 0; }

    h2 { margin-bottom: 0; }

    p { font-weight: 300; }

    // Icons
    // --------------------------------------------------
    #logo {
        margin: auto auto 50px auto;
        max-width: 400px;

        img {
            font-size: 2.500em;
            text-align: center;
        }

        object, img {
            width: 100%;
        }
    }

    // Button
    // --------------------------------------------------
    .btn {
        margin-top: $base-cushion;

        // Large Screen
        // -------------------------
        @media only screen and (min-width: $s-screen) {
            width: 200px;
        }
    }
}

// Animation
// --------------------------------------------------

// Button
// -------------------------
@keyframes smooth-fade-in {
    0% {
        opacity: 0;
        transform: translateY(-0.6em);
    }
    50% {
        opacity: 0;
        transform: translateY(-0.6em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}