// --------------------------------------------------------------------------
// Pages: Search (Modifiers)
// --------------------------------------------------------------------------

#search-page {

    // Map
    // --------------------------------------------------
    #map {
        height: 350px;
        margin: 0 auto;
        width: 100%;
    }

    // Text
    // --------------------------------------------------
    h2, p {
        text-align: center;
    }

    // Form
    // --------------------------------------------------
    .form-group {
        margin: 0 0 40px 0;
        position: relative;
        width: 100%;
        z-index: 100 !important;

        span {
            display: inline-block;
            position: relative;

            input {
                padding-left: 40px;
                width: 100%;

                &:focus + em[class^="icon-"],
                &:focus + em[class*=" icon-"] {
                    color: $tertiaryColor;
                }
            }

            em[class^="icon-"],
            em[class*=" icon-"] {
                color: $secondaryColor;
                font-style: normal;
                position: absolute;
                left: 15px;
                top: 35%;
                z-index: 101;
            }
        }

        .location-address,
        .mile-radius {
            margin-bottom: 15px;
            width: 100%;
        }

        // Large Screen
        // -------------------------
        @media only screen and (min-width: $s-screen) {
            .mile-radius input {
                border-left-width: 1px;
            }
        }

        // Large Screen
        // -------------------------
        @media only screen and (min-width: $s-screen) {
            .location-address {
                width: 75%;
            }

            .mile-radius {
                margin-left: -5px;
                width: 25%;
            }
        }
    }

    // Tags / Filter
    // --------------------------------------------------
    .specific-specialty {
        position: relative;

        h2 {
            border-bottom: 1px solid white;
            border-bottom: 1px solid rgba(255,255,255,0.8);
            padding-bottom: 10px;
        }

        // Search Button
        // -------------------------
        .search {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .btn {
                background: none;
                border: 2px solid white;
                color: white;
                margin-top: 50px;
                vertical-align: 1px;

                &:hover {
                    border-color: $primaryColorLighten;
                    color: $primaryColorLighten;
                }
                &:active {
                    background: darken($secondaryColor, 15%);
                }
            }
        }
    }

    // Map
    // --------------------------------------------------
    address {
        background-color: $secondaryColor;
        border-bottom: 2px solid darken($secondaryColor, 10%);
        color: white;
        display: block;
        font-family: $displayFontFamily;
        font-style: normal;
        padding: 15px $base-cushion;
        text-align: center;

        strong {
            font-weight: 400;
        }
    }

    // Results
    // --------------------------------------------------
    .location-results {
        background: $lightGray;
        border-bottom: 2px solid $gray;
        color: $darkGray;

        .wrapper {
            border-bottom: $border2;
            overflow: hidden;
            padding: 20px 5%;
            transition: all 0.2s ease-in;

            &:last-child {
                border-bottom: none;
            }

            &:nth-child(even) {
                background: darken($lightGray, 4%);
            }
        }

        // Left Column
        // -------------------------
        .primary-info {
            margin-bottom: 20px;

            // Large Screen
            // -------------------------
            @media only screen and (min-width: $s-screen) {
                float: left;
                margin-right: 5%;
                width: 28%;
            }
        }

        .location {
            position: relative;
        }

        // Directions Button
        // -------------------------
        .directions {
            .btn {
                @include font-size($secondary-button-font-size);
                border-color: $quaternaryColor;
                color: $quaternaryColor;
                padding: 10px 15px;

                &:hover {
                    border-color: $tertiaryColor;
                    color: $tertiaryColor;
                }
                &:active {
                    border-color: $secondaryColor;
                    color: $secondaryColor;
                }
            }
        }

        // Right Column
        // -------------------------
        .secondary-info {

            // Large Screen
            // -------------------------
            @media only screen and (min-width: $s-screen) {
                float: left;
                width: 67%;
            }

            ul {
                margin-bottom: $base-cushion;
                margin-top: 10px;
                padding-left: 0;
            }

            li {
                list-style: none;
                margin-left: 20px;
                padding-left: 8px;
                position: relative;
            }

            p {
                text-align: left;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        // Icons (shared styles)
        // -------------------------
        .address, .phone, .website, .distance {
            margin-bottom: 5px;

            &:before {
                color: darken($secondaryColor, 10%);
                font-family: 'icomoon';
                position: absolute;
                left: -21px;
                top: 2px;
            }
        }

        // Icons (custom styles)
        // -------------------------
        .address:before     { content: "\e901"; }
        .phone:before       { content: "\e900"; }
        .website:before     { content: "\e902"; }
        .distance:before    { content: "\e908"; }
    }
}
