// --------------------------------------------------------------------------
// Global Styles
// --------------------------------------------------------------------------


// Columns
// --------------------------------------------------
.column-wrap {
    overflow: hidden;

    span { width: 100%; }

    .column,
    .column-half,
    .column-full { // shared styles
        width: 100%;

        // Large Screen
        // -------------------------
        @media only screen and (min-width: $m-screen) {
            float: left;
        }
    }

    .column { // 4 columns max
        // Large Screen
        // -------------------------
        @media only screen and (min-width: $m-screen) {
            width: 25%;
        }

        // Medium Screen
        // -------------------------
        @media only screen and (min-width: $m-screen) and (max-width: $l-screen) {
            width: 33.3%;
        }
    }
    .column-half { // 2 columns max
        // Large Screen
        // -------------------------
        @media only screen and (min-width: $m-screen) {
            width: 50%;
        }
    }
}

// Tags
// --------------------------------------------------

// Search Filter
// -------------------------
.general-topic {

    // Large Screen
    // -------------------------
    @media only screen and (min-width: $m-screen) {
        display: flex;
        justify-content: center;
    }

    span {
        background: $secondaryColor;
        border-radius: $radius;
        color: white;
        display: inline-block;
        font-family: $baseFontFamily;
        font-weight: 400;
        margin: 5px 2px;
        padding: 5px 10px;
        text-decoration: none;
        transition: all 0.3s ease-in;

        &:hover {
            background: lighten($secondaryColor, 10%);
            cursor: pointer;
        }

        &:active,
        &.active {
            background: darken($secondaryColor, 15%);
        }
    }
}

// Results
// -------------------------
.results-tags {
    border-top: 1px solid $gray;

    .tag {
        display: inline-block;
        font-size: 15px;
        font-weight: 400;
        line-height: 0.5;
        vertical-align: 5px;

        &:after {
            content: "•";
            color: $quaternaryColor;
            margin-left: 10px;
            margin-right: 5px;
        }

        &:last-child:after {
            content: "";
        }
    }

    [class^="icon-"],
    [class*=" icon-"] { // tag icon
        color: darken($secondaryColor, 10%);
        position: absolute;
        left: 0;
        top: 0;
    }

    p {
        line-height: 1.2;
        padding-left: 30px;
        position: relative;
        text-align: left !important;
    }
}

// Images
// --------------------------------------------------

iframe { // Google Maps
    height: 500px;
    max-width: 1400px;
    pointer-events: none;
    width: 100%;
}

// Horizontal Rule
// --------------------------------------------------

// Utility
// --------------------------------------------------
.floatRight { float: right;}
.floatLeft { float: left;}
.clear { clear: both;}
.clear:after { clear: both; display: table; content:''; }