// --------------------------------------------------------------------------
// Global Styles
// --------------------------------------------------------------------------


// Columns
// --------------------------------------------------
.column-wrap {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .column { // 4 columns max
        align-items: center;
        display: flex;
        flex: auto;
        justify-content: flex-start;
        padding: 10px $base-cushion;

        // Large Screen
        // -------------------------
        @media only screen and (min-width: $s-screen) {
            flex: 1 1 25%;
        }
    }
}

// Tags
// --------------------------------------------------
.general-topic {
    display: flex;
    justify-content: center;

    a {
        background: $secondaryColor;
        border-radius: $radius;
        color: white;
        font-family: $baseFontFamily;
        margin: 0 2px;
        padding: 5px 10px;
        text-decoration: none;
        transition: all 0.3s ease-in;

        &:hover {
            background: lighten($secondaryColor, 10%);
        }

        &:active,
        &.active {
            background: darken($secondaryColor, 15%);
        }
    }
}

// Images
// --------------------------------------------------

iframe { // Google Maps
    height: 500px;
    max-width: 1400px;
    pointer-events: none;
    width: 100%;
}

// Horizontal Rule
// --------------------------------------------------

// Utility
// --------------------------------------------------
.floatRight { float: right;}
.floatLeft { float: left;}
.clear { clear: both;}
.clear:after { clear: both; display: table; content:''; }