// --------------------------------------------------------------------------
// Typography
// --------------------------------------------------------------------------


// Mobile First Responsive Type Solution
// --------------------------------------------------

// Refer to PX to Em to figure out values:
// http://pxtoem.com/

// Source for Sass Maps Usage:
// http://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/


// Sass Maps Legend
// -------------------------
// $variable: (
//    key : (font-size value in em, unitless/relative line-height value);
// );

// Breakpoints
// -------------------------
$breakpoints: (
    // "null" is the equivalent of mobile first/smScreen
    small: $s-screen,           // 650px
    medium: $m-screen,          // 990px
    large: $l-screen            // 1200px
);

// Base Font Size
// -------------------------
$base-font-size: (              // html, body, p
    null: (0.938em, 1.4),       // 14px
    medium: (1.000em, 1.5),     // 15px
    large: (1.063em, 1.6)       // 17px
);

// Heading Font Sizes
// -------------------------
$h1-font-size: (
    null: (0.000em, 1.4),       // 00px
    medium: (0.000em, 1.5),     // 00px
    large: (0.000em, 1.6)       // 00px
);

$h2-font-size: (
    null: (0.000em, 1.4),       // 00px
    medium: (0.000em, 1.5),     // 00px
    large: (0.000em, 1.6)       // 00px
);

$h3-font-size: (
    null: (0.000em, 1.4),       // 00px
    medium: (0.000em, 1.5),     // 00px
    large: (0.000em, 1.6)       // 00px
);

$h4-font-size: (
    null: (0.000em, 1.4),       // 00px
    medium: (0.000em, 1.5),     // 00px
    large: (0.000em, 1.6)       // 00px
);

$h5-font-size: (
    null: (0.000em, 1.4),       // 00px
    medium: (0.000em, 1.5),     // 00px
    large: (0.000em, 1.6)       // 00px
);

$h6-font-size: (
    null: (0.000em, 1.4),       // 00px
    medium: (0.000em, 1.5),     // 00px
    large: (0.000em, 1.6)       // 00px
);

// Icon Font Sizes
// -------------------------
$nameoficon1-font-size: (
    null: (0.000em, 1.4),       // 00px
    medium: (0.000em, 1.5),     // 00px
    large: (0.000em, 1.6)       // 00px
);

$nameoficon2-font-size: (
    null: (0.000em, 1.4),       // 00px
    medium: (0.000em, 1.5),     // 00px
    large: (0.000em, 1.6)       // 00px
);

// Form Font Sizes
// -------------------------
$label-font-size: (
    null: (0.000em, 1.4),       // 00px
    medium: (0.000em, 1.5),     // 00px
    large: (0.000em, 1.6)       // 00px
);

// Mixin for Type Targeting Sass Maps
// -------------------------

// To apply styles, simply use this mixin include:
// e.g., h1 { @include font-size($h1-font-size); }

@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
        @if $fs-breakpoint == null {
            @include make-font-size($fs-font-size);
        }
        @else {
            // If $fs-font-size is a key that exists in
            // $fs-breakpoints, use the value
            @if map-has-key($fs-breakpoints, $fs-breakpoint) {
                $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
            }
            @media screen and (min-width: $fs-breakpoint) {
                @include make-font-size($fs-font-size);
            }
        }
    }
}

// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
    // If $fs-font-size is a list, include
    // both font-size and line-height
    @if type-of($fs-font-size) == "list" {
        font-size: nth($fs-font-size, 1);
        @if (length($fs-font-size) > 1) {
            line-height: nth($fs-font-size, 2);
        }
    }
    @else {
        font-size: $fs-font-size;
    }
}

// Headings
// -------------------------
// All Headings
h1, h2, h3, h4, h5, h6 { }

// Individual Headings
h1 {
    @extend %font-loading;
    color: $primaryColor;
    font-family: $displayFontFamily;
    font-feature-settings: "kern";
    font-size: 3.125em;
    font-size: 3.125rem;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
h2 {
    //@include font-size($h2-font-size);
    font-family: $baseFontFamily;
    color: white;
    font-weight: 300;
    opacity: 0.7;

    &.alt {
        color: $darkGray;
        font-size: 16px;
        font-weight: 400;
        margin: 20px 0;
        position: relative;

        span {
            background: white;
            padding: 5px 10px;
            position: relative;
            z-index: 100;
        }

        &::after {
            background: $tertiaryColor;
            content: "";
            height: 2px;
            position: absolute;
            left: 0;
            top: 15px;
            width: 100%;
            z-index: 99;
        }
    }
}
h3 {
    //@include font-size($h3-font-size);
}
h4 {
    //@include font-size($h4-font-size);
}
h5 {
    //@include font-size($h5-font-size);
}
h6 {
    //@include font-size($h6-font-size);
}



// Text Treatments
// -------------------------
p {
    //@include font-size($base-font-size);
    opacity: 0.7
}
em, i { }
strong, b { }
sub { }
sup { }

// Links
a { 
  color: $linkColor;
  &:hover { color: $linkColorHover;}
  &:active { }
}

// Blockquote
blockquote { }
cite { }

// Address
address { }



// Lists
// -------------------------
// All Lists
dl, ol, ul { }

// Unordered Lists
ul {
  li { }
}

// Ordered Lists
ol {
  li { }
}

// Definition Lists
dl { }
dt { }
dd { }

// Code Snippets
code { }
pre { }