<div id="intro" class="wrapper">
    <!-- Logo -->
    <div id="logo" href="#">
        <!--<object data="../images/logo.svg" type="image/svg+xml">
            <img src="../images/logo.png" alt="Gender Infinity">
        </object> -->
        <div class="icon-infinity"></div>
        <h1>Gender Infinity</h1>
    </div>

    <!-- Intro Message -->
    <div class="intro-message">
        <h2>Your Resource Locator</h2>
        <p>Find Transgender-Friendly Locations Near You</p>
        <div class="button-wrap">
            <a class="btn" href="<%= new_search_path %>">
                <span class="pre-hover">Welcome</span>
                <span class="post-hover">Begin<em class="icon-circle-right"></em></span>
            </a>
        </div>
    </div>
</div>

