<div id="intro" class="wrapper">
    <!-- GI Logo -->
    <div id="logo" href="#">
        <object data="/logo.svg" type="image/svg+xml">
            <!-- PNG Fallback -->
            <img src="/logo.png" alt="Gender Infinity">
        </object>
    </div>

    <!-- Intro Message -->
    <div class="intro-message">
        <p>Gender Infinity believes that all individuals and their families and caregivers deserve the right to learn about and then choose the programs, services or methods of care they feel are most appropriate for the gender diverse or trans loved one. We firmly believe that no single type of program, service or method of care meets the needs of every individual. For this reason, Gender Infinity does not endorse, promote or recommend any specific programs, services or methods, including those on this list; we strongly encourage individuals and their families and caregivers to consider carefully all available information to make the best choices for themselves, considering all factors that are relevant for their situation.</p>
    </div>
</div>

