<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new location has been submitted to the GenderInfinity MAP</h1>
    <p>
      You can review and approve it by clicking the following link: <a href="https://resource.genderinfinity.com/admin/unapproved_locations/<%= @location.id %>">Approve Submission</a>
    </p>
  </body>
</html>
