// --------------------------------------------------------------------------
// Button Styles
// --------------------------------------------------------------------------

// Buttons Placeholder
// --------------------------------------------------
  %button {
    width: auto;
//    border-radius: $baseBorderRadius;
    display: inline-block;
    position: relative;
    padding: 5px 15px;
    text-decoration: none;
    text-align: center;
    line-height: $baseLineHeight;
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    font-weight: normal;
    @media (max-width: 700px) {
      width: 100%;
      display: block;
      margin: 0 0 5px 0;
    }
  }

// Default Button
// --------------------------------------------------
.btn {
  @extend %button;
  color: white;
  background: $linkColor;
  &:hover, &.hover {
    color: white;
    background: $linkColorHover;
  }
}

// Alternate Button
// --------------------------------------------------
.btnAlt {
  @extend %button;
}
