// --------------------------------------------------------------------------
// Button Styles
// --------------------------------------------------------------------------

.button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

// Buttons Placeholder
// --------------------------------------------------
%button {
    border: $border;
    display: inline-block;
    font-family: $displayFontFamily;
    font-size: $baseFontSize;
    font-weight: normal;
    line-height: $baseLineHeight;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    width: auto;

    @media (max-width: 700px) {
        width: 100%;
        display: block;
        margin: 0 0 5px 0;
    }
}

// Default Button
// --------------------------------------------------
.btn {
  @extend %button;
  color: white;
  &:hover, &.hover {
    color: white;
  }
}

// Alternate Button
// --------------------------------------------------
.btnAlt {
  @extend %button;
}
