// --------------------------------------------------------------------------
// Form Styles
// --------------------------------------------------------------------------

// Labels
// --------------------------------------------------
label {
    font-family: $baseFontFamily;
}

// Inputs
// --------------------------------------------------
input[type="text"] {
    @include font-size($input-font-size);
    background: white;
    border: 1px solid $secondaryColor;
    color: $black;
    font-family: $baseFontFamily;
    padding: 0.6em 1em;
    transition: all 0.3s ease;
    text-transform: capitalize;

    &:focus {
        border: 1px solid $tertiaryColor;
        color: $tertiaryColor;
        outline: none;
    }
}

input[type="checkbox"] {
    margin-right: 7px;
}