// --------------------------------------------------------------------------
// Mixins
// --------------------------------------------------------------------------

// Base Gradients
// --------------------------------------------------
@mixin primary-gradient-with-pattern { // Smooth Transition
    background: $darkGradientColor;
    background: url(/diagonals.svg), linear-gradient(45deg, $darkGradientColor 0%, $neutralGradientColor 100%);
}

@mixin primary-gradient { // Smooth Transition
    background: $darkGradientColor;
    background: linear-gradient(45deg, $darkGradientColor 0%, $neutralGradientColor 100%);
}

@mixin secondary-gradient { // Stripes
    background: repeating-linear-gradient(
        to right,
        $primaryColor,
        $primaryColor 30px, $secondaryColor 30px,
        $secondaryColor 60px, $tertiaryColor 60px,
        $tertiaryColor 90px, $quaternaryColor 90px,
        $quaternaryColor 120px
    );
}


// Background Patterns
// --------------------------------------------------
.plaid-wrap { // plaid
    position: relative;

    &:before { // this method prevents paint issues and jank
        content: "";
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        @include primary-gradient-with-pattern;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        will-change: transform; // creates a new paint layer
        z-index: -1;
    }
}


// Box Shadow
// --------------------------------------------------
@mixin box-shadow {
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

@mixin box-shadow-inverted {
    box-shadow: inset 0 -4px 8px rgba(0,0,0,0.12);
}


// Transition
// --------------------------------------------------
@mixin fade-in {
    @keyframes fade {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
}

%fade {
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-name: fade;
    opacity: 1;
}


// Text Shadow
// --------------------------------------------------
@mixin text-shadow {
    text-shadow: 3px 3px 6px rgba(0,0,0,0.4);
}



// Fixing Font Loading Cycles
// --------------------------------------------------
%font-loading {
    .wf-loading & {
        visibility: hidden;
    }
}

%font-inactive {
    .wf-inactive & {
        visibility: visible;
    }
}

%font-active {
    .wf-active & {
    visibility: visible;
    }
}