// --------------------------------------------------------------------------
// Variables
// --------------------------------------------------------------------------

// Naming Conventions
// --------------------------------------------------

// Class names:           .class-name
// Variables:             $camelCase


// Colors
// --------------------------------------------------

// Grayscale
// -------------------------
$white:                     #FFFFFF;
$lightGray:                 #EEEEEE;
$gray:                      #CCCCCC;
$darkGray:                  #404040;
$black:                     #000000;

// Primary Color
// -------------------------
$primaryColor:              #83E4B5; // Jade Green
$primaryColorLighten:       lighten($primaryColor, 5%);
$primaryColorDarken:        darken($primaryColor, 5%);
$primaryColorTransparent:   rgba($primaryColor, .75);

// Secondary Color
// -------------------------
$secondaryColor:            #3EC8AC; // Teal
$secondaryColorRGBA:        rgba($secondaryColor, 1);
$secondaryColorTransparent: rgba($secondaryColor, .75);

// Tertiary Color
// -------------------------
$tertiaryColor:             #4E90A4; // Jeans Blue
$tertiaryColorRGBA:         rgba($tertiaryColor, 1);
$tertiaryColorTransparent:  rgba($tertiaryColor, .75);

// Quaternary Color
// -------------------------
$quaternaryColor:           #6E60A0; // Secondary Purple
$quaternaryColorRGBA:       rgba($quaternaryColor, 1);
$quaternaryColorTransparent:rgba($quaternaryColor, .75);

// Gradient Colors
// -------------------------
$darkGradientColor:         #543F59; // Eggplant Purple
$neutralGradientColor:      #425568; // Neutral Blue-Grey


// Links
// --------------------------------------------------
$linkColor:                 #904F47; // Mudbug Link Color
$linkColorHover:            #254C6B; // Mudbug Link Color Hover


// Typography
// --------------------------------------------------
$displayFontFamily:         "ff-karbid-slab-web-pro", Helvetica, Arial, sans-serif; // 300, 400
$baseFontFamily:            "freight-sans-pro", Helvetica, Arial, sans-serif; // 300, 400 (i), 700

$baseFontSize:              14px;
$baseLineHeight:            20px;
$baseSansFontWeight:        400;
$baseSerifFontWeight:       400;


// Scaffolding
// --------------------------------------------------
$radius:                    4px;
$border:                    2px solid $primaryColor;
$border2:                   1px solid $gray;
$base-cushion:              30px; // Padding + Margin Spacing
$top-cushion:               20vh;


//Gridset Variables
// --------------------------------------------------
$s-screen: 600px; // the max-width of your small grid (Example: 600px)
$m-screen: 900px; // the max-width of your medium grid (Example: 900px)
$l-screen: 1200px; // the max-width of your large grid
$l-gutter: 2%;
$m-gutter: 2%;
$s-gutter: 2%;
