<!doctype html>
<!--[if IE 9]>   <html class="ie9">    <![endif]-->
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Resource Finder</title>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
